#simplemappr-attribution {
	text-align:right;
}

.simplemappr-bbox input.simplemappr-bbox-coord {
	width:auto !important;
}

#simplemappr-extent {
	background-color:#FFF;
	position:relative;
}

#simplemappr-cropper {
	position:absolute;
	right:20px;
	top:10px;
	z-index:1000;
}

#simplemappr-cropper a {
	background-image:url("../images/shape_handles.png");
	border:1px solid #F0F0EE;
	background-color:#F0F0EE;
	background-position:2px 2px;
	background-repeat:no-repeat;
	display:block;
	height:20px; 
	line-height:20px;
	margin-top:2px;
	padding-left:20px;
	padding-right:5px;
}

#simplemappr-cropper a:hover {
	border:1px solid #CCCCCC;
    background-color:#B2BBD0;
}

.colorPicker {
	width:auto !important;
}

.customJzoom .jcrop-vline, .customJzoom .jcrop-hline {
	background-color: #FF0000;
}